<!DOCTYPE html>
<html>
  <head>
    <title>university</title>

    <link href=" /bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">

		  <div class="header">
			  <nav class="navbar navbar-default navbar-fixed-top">
			  	<div class="container-fluid">
			  		<div class="navbar-header">
			  			<a class="navbar-brand" href="#">
			  				<img alt="Brand" src="...">
			  			</a>
			  		</div>
			  	</div>
				</nav>
		  </div>	

      <div class="content">
        <%= yield %>
      </div>

    </div>
  </body>
</html>
