body {
  margin: 0;
  background-color: #f6f6f6;
  color: #666;
}

a {
  text-decoration: none;
}

.clearfix:before,
 .clearfix:after {
    content: " ";
    display: table;
 }
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
