form#login action="/login" method="post"
  p.error
    = flash[:error]
  .form-field
    / label for="inputEmail" Username
    input.username name="username" autofocus="" placeholder="Username" required="required" /
    / label for="inputPassword"  Password
    br
    input.password type="password" name="password"  placeholder="Password" required="required"  /
    br
    button.submit type="submit"  Sign in

scss:
  #login {
    margin-top: 75px;
    text-align: center;
    .error {
      height: 20px;
      position: relative;
      top: 100px;
      color: red;
      font-size: 15px;
    }
    .username {
      margin-top: 100px;
      margin-bottom: 15px;
    }
    .username, .password {
      width: 350px;
      height: 35px;
      border: 1px solid #999;
      outline: none;
      border-radius: 3px;
      font-size: 15px;
      box-sizing: border-box;
    }
    .submit {
      width: 350px;
      border: none;
      margin-top: 30px;
      background-color: #49a074;
      height: 36px;
      border-radius: 3px;
      color: #fff;
      font-size: 16px;
      &:hover {
        cursor: pointer;
      }
    }
  }
